._4f7n {
	background: #000000!important;
	border-color: #ffffff!important;
	border-color: #ffffff!important;
}

._4f7n:after,
._4f7n:before {
	display: none!important;
}

._50__,
._5cop ._59fb,
._4f7n a.jewelButton {
	-webkit-background-composite: destination-out;
}